{% extends "base.html" %}


{% block content %}
    <main class="container py-5">
        <section class="card card-body text-center">
            <h1 class="display-1 text-center">Hello Home</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In sed rem non. Velit error eveniet blanditiis tempore reprehenderit ipsa eius molestiae repellat aut minus harum in molestias sit ex recusandae animi corporis nesciunt quaerat, veritatis sunt tenetur facere vitae! Facere ullam excepturi vitae voluptates cumque fugiat, iure neque? Quibusdam repudiandae officia quia quo eos omnis, odit deleniti magnam possimus ipsa soluta aliquid, corporis voluptatem eum, accusamus a earum modi maxime explicabo illum. Pariatur blanditiis eveniet consequatur eius necessitatibus quaerat, voluptate, perspiciatis aliquid nihil numquam culpa expedita molestiae beatae sunt corrupti, delectus adipisci quae. Eveniet, repudiandae. Iure dolor itaque explicabo eveniet.</p>
            <div>
                <a class="btn btn-secondary" href="/signin/">Sign In</a>
                <a class="btn btn-dark" href="/signup/">Sign Up</a>
            </div>
        </section>
    </main>
{% endblock %}


